body {
    font-family: 'Poppins', sans-serif;
}

.btn-main {
    color: #3F87F5;
    border-radius: 5px;
    background-color: #fff;
    padding-right: 1.7rem;
    padding-left: 1.7rem;
}

/* Card Button */
.btn-card {
    font-weight: 700;
    display: block;
    color: #3F87F5;
    border-radius: 1.5rem;
    background-color: rgba(244, 150, 210, 0.15);
}

.carousel-image {
    height: 85vh;
    object-fit: cover;
}

.section-title {
    font-weight: 600;
    color: #0D0925;
}

/* Package */
.cards {
    color: #231D4F;
    padding-left: 1rem;
    padding-right: 1rem;
}

.card-item {
    padding: 2rem;
    padding-bottom: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Active card */
.card-item.active {
    color: #fff;
    background-color: #3F87F5;
    border-radius: 1.5rem;
    transform: translateY(-3rem);
}

.card-item.active .package-li {
    color: #fff;
}

.card-item.active .package-li::before {
    color: #fff;
    background-color: rgba(255, 255, 255, 0.1);

}

.card-item.active a.btn-card {
    background-color: #fff;
}

.package-ul {
    list-style: none;
}

.package-li {
    font-size: 0.9rem;
    color: #848199;
}

.package-li::before {
    padding: 0.15rem;
    font-family: "Font Awesome 5 Free";
    font-weight: 700;
    content: '\f00c';
    color: #5243C2;
    background-color: rgba(82, 67, 194, 0.13);
    border-radius: 50%;
    margin-right: 5px;

}

/* Booking Section */
.booking-form {
    position: relative;
    max-width: 45rem;
    width: 100%;
    margin: auto;
    padding: 2.6rem;
    overflow: hidden;
    background-image: linear-gradient(to right bottom, rgba(63, 136, 245, 0.7), rgba(82, 67, 194, 0.6)), url('../images/background.jpg');
    background-size: cover;
    border-radius: 5px;
}

.booking-form .form-control {
    background-color: rgba(255, 255, 255, 0.2);
    height: 3rem;
    padding: 0px 25px;
    border: none;
    border-radius: 1rem;
    color: #fff;
    box-shadow: 0px 0px 0px 2px transparent;
    transition: 0.2s;
    margin: 0.5rem auto;
}

.booking-form .form-control::placeholder {
    color: rgba(255, 255, 255, 0.8);
}

.booking-form select.form-control option {
    color: #000;
}

.booking-form .form-group.input-not-empty .form-control {
    padding-top: 1rem;
}


.booking-form .submit-btn {
    display: block;
    color: #fff;
    background-color: #3F87F5;
    font-weight: 700;
    padding: 0.8rem 2rem;
    width: 100%;
    border-radius: 1rem;
    border: none;
    text-transform: uppercase;
    font-size: 1.1rem;
    transition: 0.2s all;
}

.booking-form .submit-btn:hover,
.booking-form .submit-btn:focus {
    opacity: 0.9;
}


/* Accordion override */
.accordion-item {
    margin-bottom: 0.5rem;
}

.accordion-item:not(:first-of-type) {
    border: 1px solid rgba(0, 0, 0, .125);
}

.accordion-button:not(.collapsed) {
    background-color: inherit;
    box-shadow: none;
}

/* footer */
footer {
    background-color: #0B0D17;
}

.footer-content {
    min-height: 30vh;
}